.back{
    background-color: white;
    
}
.txt_gal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    color:aqua;
}
.nav.navbar {
    background-color: #CC1414;
}